<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 mat-dialog-title>Nova Tarefa</h2>
			<form #formTarefa="ngForm">
				<mat-dialog-content class="mat-typography">
					<mat-form-field appearance="standard">
						<mat-label>Título</mat-label>
						<input matInput placeholder="Placeholder" [(ngModel)]="tarefa.title" name="title" id="title" #titulo="ngModel" required/>
						<div *ngIf="titulo.errors && (titulo.dirty || titulo.touched)" class="invalid-feedback">
							Sua tarefa precisa de um título
						</div>
					</mat-form-field>
					<div class="row">
						<div class="col-12">
							<mat-form-field appearance="standard">
								<mat-label>Descrição</mat-label>
								<input matInput placeholder="Placeholder" [(ngModel)]="tarefa.descricao" name="descricao" id="descricao" />
							</mat-form-field>
						</div>
					</div>
				</mat-dialog-content>
				
				<mat-dialog-actions align="center">
					<button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
					<button [disabled]="!formTarefa.valid" (click)="cadastrar()" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary"> Criar </button>
				</mat-dialog-actions>
			</form>
		</div>
	</div>
</div>
