.px-2 {
    padding: 0 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.example-card {
    max-width: 400px;
  }
  
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}

.primary-green {
    color: #fff;
    background-color: #19b86b
}

.text-right {
    text-align: end;
}

.top-corner {
    position: absolute;
    top: 5px;
    right: 5px;
}

.bottom-corner {
    position: fixed;
    bottom: 18px;
    right: 18px;
}